.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background: #1e1e1e;
  padding: 24px 48px;
  border-radius: 10px;
  width: 30vw;
}

.modal__inputs-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal__input-container {
  display: flex;
  gap: 48px;
  justify-content: center;
  justify-content: space-between;
}

.modal__input {
  background-color: var(--bg-color);
  border-radius: 5px;
  border: 1px var(--text-tertiary) solid;
  width: 90%;
  padding: 8px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.time-inputs {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.time-input-container {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.modal__input-title {
  width: 10%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}