#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: var(--bg-color);
  overflow: hidden;
}

input:focus {
  outline-color: var(--text-secondary);
}

button {
  background-color: var(--bg-color);
  border: 1px solid var(--bg-accent-lines);
}

button:hover {
  border: 1px solid var(--text-tertiary);
}

button:active {
  border: 1px solid var(--text-secondary);
  outline: none;
}